/* This ensures there are no margins added by default */
html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

/* ========== Colors ========== */

:root {
    --green: rgb(226, 240, 203);
    --purple: rgb(237, 218, 255);
    --blue: rgb(166, 193, 238);
    --orange: rgb(255, 218, 193);
    --orange-dark: rgb(255, 194, 153);
    --orange-darker: rgb(255, 172, 117);
}

/* Variants of the Rubik font to be used in font-family style */
@font-face {
    font-family: 'Rubik-S';
    src: url('./fonts/Rubik-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik-L';
    src: url('./fonts/Rubik-Medium.ttf') format('truetype');
}

/* Navbar */

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    height: 64px;
}

.navbar-titles {
    font-size: 1.25rem;
    margin: 0 2rem;
}

.navbar-titles:hover {
    cursor: pointer;
}

/* Home Page */

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px);
    background-color: var(--green);
    overflow: hidden;
}

.other-home-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: var(--green);
    overflow: hidden;
}

.bottom-home-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 70vh;
    background-color: var(--green);
    overflow: hidden;
    padding-bottom: 10vh;
}

.home-title-container {
    display: block;
    margin-right: 4rem;
    margin-bottom: 64px;
}

.home-title-right-container {
    display: block;
    margin-left: 4rem;
    margin-bottom: 64px;
}

.home-title-font {
    font-family: 'Rubik-L';
    font-size: 2.5rem;
}

.robert-container-animation {
    animation: rca 2s;
    -webkit-animation: rca 2s;
    -moz-animation: rca 2s;
    -o-animation: rca 2s;
    -ms-animation: rca 2s;
    margin-bottom: 64px;
}

.other-image-container {
    margin-bottom: 64px;
}

.robert-image {
    width: 160px;
}

.robert-highschool-image {
    width: 390px;
}

.robert-graduate-image {
    width: 180px;
}

.robert-university-image {
    width: 330px;
}

/* Hey, I'm Robert */

.title-text-fade-in {
    animation: fadeIn 0.75s linear;
    -webkit-animation: fadeIn 0.75s linear;
    -moz-animation: fadeIn 0.75s linear;
    -o-animation: fadeIn 0.75s linear;
    -ms-animation: fadeIn 0.75s linear;
    animation-delay: 2.1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* University Student and aspiring Web Developer */

.title-text-fade-in-secondary {
    animation: fadeIn 0.75s linear;
    -webkit-animation: fadeIn 0.75s linear;
    -moz-animation: fadeIn 0.75s linear;
    -o-animation: fadeIn 0.75s linear;
    -ms-animation: fadeIn 0.75s linear;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* Skills Page */

.skills-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: calc(100vh - 64px);
    background-color: var(--blue);
    overflow: hidden;
}

.skills-text-content {
    font-family: 'Rubik';
    font-size: 1.75rem;
    width: 40%;
    text-align: center;
}

.skills-language-logo {
    width: 90px;
    margin: 0 1rem;
}

.logo-shadow {
    filter: drop-shadow(0 0.3rem 0.4rem rgba(0, 0, 0, 0.25));
}

/* Contact Page */

.contact-container {
    min-height: calc(100vh - 64px);
    background-color: var(--purple);
    overflow: hidden;
}

.contact-socials {
    width: 75px;
    padding: 2rem;
}

.contact-socials-container {
    display: flex;
    justify-content: center;
}

/* Project Page */

.projects-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 64px);
    background-color: var(--orange);
    overflow: hidden;
}

.projects-row-container {
    display: flex;
    justify-content: center;
    margin-bottom: 3rem;
}

.project-item-container {
    width: 500px;
    height: 175px;
    border: 2px solid var(--orange-darker);
    border-radius: 10px;
    background-color: var(--orange-dark);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin: 0 1rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.project-text-container {
    align-self: normal;
    margin-left: 1rem;
}

.project-title {
    font-family: 'Rubik-L';
    font-size: 2rem;
    margin-right: 0.5rem;
}

.project-description {
    font-family: 'Rubik';
    font-size: 1.1rem;
}

.project-links {
    margin: 1rem 1rem 0 0;
    font-family: 'Rubik-S';
    text-decoration: underline;
}

.project-links:hover {
    cursor: pointer;
}

.project-links-container {
    display: flex;
}

.project-links-and-languages-container {
    display: flex;
    align-items: end;
}

.project-logo-container {
    display: flex;
    align-items: center;
}

.project-languages-container {
    display: flex;
}

.bandwagon-logo {
    /* 340 original width */
    width: 102px;
}

.my-gh-logo {
    /* 470 original width */
    width: 141px;
}

.skip-the-books-logo {
    /* 340 original width */
    width: 136px;
}

.wait-less-logo {
    /* 330 original width */
    width: 132px;
}

.discord-bot-logo {
    /* 300 original width */
    width: 120px;
}

.language-logo {
    width: 20px;
    height: auto;
    margin: 0 0.25rem;
}

/* ========================================= */
/* ===============MEDIA QUERY=============== */
/* ========================================= */

@media only screen and (max-width: 1000px) {
    .home-container {
        flex-direction: column;
    }
    .other-home-containers {
        flex-direction: column;
    }
    .column-reverse {
        flex-direction: column-reverse;
    }
    .bottom-home-containers {
        flex-direction: column;
    }
    .home-title-container {
        margin-right: 0;
    }
    .home-title-right-container {
        margin-left: 0;
    }
    .other-home-containers {
        min-height: 75vh;
    }

    .bottom-home-containers {
        min-height: 75vh;
    }

    .projects-row-container {
        flex-direction: column;
    }

    .projects-container {
        padding-top: 3rem;
    }
    .projects-row-container {
        margin-bottom: 0rem;
    }
    .project-item-container {
        margin-bottom: 2rem;
        width: 80%;
        height: auto;
        align-self: center;
    }
    .skills-text-content {
        font-size: 1.5rem;
    }
    .skills-text-content {
        width: 70%;
    }
    .skills-container {
        padding-top: 1.5rem;
    }
    .skills-language-logo {
        width: 70px;
    }
}

@media only screen and (max-width: 500px) {
    .home-title-font {
        font-size: 1.5rem;
    }
    .robert-image {
        width: 125px;
    }
    .robert-highschool-image {
        width: 270px;
    }
    .robert-graduate-image {
        width: 135px;
    }

    .robert-university-image {
        width: 270px;
    }
    .navbar-titles {
        font-size: 1rem;
        padding: 0 0.5rem;
        margin: 0.5rem;
    }
    .bandwagon-logo {
        /* 340 original width */
        width: 102px;
    }

    .my-gh-logo {
        /* 470 original width */
        width: 94px;
    }

    .skip-the-books-logo {
        /* 340 original width */
        width: 102px;
    }

    .wait-less-logo {
        /* 330 original width */
        width: 99px;
    }

    .discord-bot-logo {
        /* 300 original width */
        width: 90px;
    }
    .project-title {
        font-family: 'Rubik-L';
        font-size: 1.5rem;
    }

    .project-description {
        font-family: 'Rubik';
        font-size: 0.9rem;
    }
    .projects-container {
        padding-top: 1rem;
    }
    .project-links-and-languages-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .project-links {
        margin-top: 0.25rem;
        font-family: 'Rubik-S';
        text-decoration: underline;
    }
    .language-logo {
        margin-left: 0;
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }
    .skills-text-content {
        width: 90%;
    }
    .skills-language-logo {
        width: 50px;
    }
}

/* ========================================= */
/* ================KEYFRAMES================ */
/* ========================================= */

/* Text fade in */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animation for robert character home page */

@keyframes rca {
    0% {
        transform: translate(600%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
@-moz-keyframes rca {
    0% {
        transform: translate(600%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
@-webkit-keyframes rca {
    0% {
        transform: translate(600%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
@-o-keyframes rca {
    0% {
        transform: translate(600%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
@-ms-keyframes rca {
    0% {
        transform: translate(600%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
