/* This ensures there are no margins added by default */
html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

/* ========== Colors ========== */

:root {
    --green: rgb(226, 240, 203);
}

/* Variants of the Rubik font to be used in font-family style */
@font-face {
    font-family: 'Rubik-S';
    src: url('./fonts/Rubik-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik-L';
    src: url('./fonts/Rubik-Medium.ttf') format('truetype');
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 40rem;
    top: 0%;
    left: 0%;
    height: 64px;
    font-family: 'Rubik-S';
}

.home-container {
    min-height: 95vh;
    background-color: var(--green);
}

.home-title-container {
    display: block;
}

.home-title-font {
    font-family: 'Rubik-L';
    font-size: 2.5rem;
}

.robert-container-animation {
    position: absolute;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-name: rca;
    margin-left: 60%;
    margin-top: 12.5%;
}

.title-text {
    position: absolute;
    margin-left: 32%;
    margin-top: 15%;
}

.title-text-fade-in {
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;
    animation-delay: 2.25s;
    animation-fill-mode: forwards;
    opacity: 0;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes rca {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 60%;
    }
}
