/* This ensures there are no margins added by default */
html,
body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
}

/* ========== Colors ========== */

:root {
    --green: rgb(226, 240, 203);
    --purple: rgb(237, 218, 255);
    --blue: rgb(166, 193, 238);
    --orange: rgb(255, 218, 193);
}

/* Variants of the Rubik font to be used in font-family style */
@font-face {
    font-family: 'Rubik-S';
    src: url('./fonts/Rubik-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik';
    src: url('./fonts/Rubik-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Rubik-L';
    src: url('./fonts/Rubik-Medium.ttf') format('truetype');
}

/* Navbar */

.navbar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0%;
    left: 0%;
    height: 64px;
}

.navbar-titles {
    font-family: 'Rubik-S';
    font-size: 1.25rem;
    padding: 0 2rem;
}

.navbar-titles:hover {
    cursor: pointer;
}

/* Home Page */

.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 64px);
    background-color: var(--green);
    overflow: hidden;
}

.other-home-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: var(--green);
    overflow: hidden;
}

.bottom-home-containers {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    background-color: var(--green);
    overflow: hidden;
    padding-bottom: 10vh;
}

.home-title-container {
    display: block;
    margin-right: 4rem;
    margin-bottom: 64px;
}

.home-title-right-container {
    display: block;
    margin-left: 4rem;
    margin-bottom: 64px;
}

.home-title-font {
    font-family: 'Rubik-L';
    font-size: 2.5rem;
}

.robert-container-animation {
    animation: rca 2s;
    -webkit-animation: rca 2s;
    -moz-animation: rca 2s;
    -o-animation: rca 2s;
    -ms-animation: rca 2s;
    margin-bottom: 64px;
}

.other-image-container {
    margin-bottom: 64px;
}

.robert-image {
    width: 150px;
}

.robert-highschool-image {
    width: 390px;
}

.robert-graduate-image {
    width: 180px;
}

.robert-university-image {
    width: 330px;
}

/* Hey, I'm Robert */

.title-text-fade-in {
    animation: fadeIn 0.75s linear;
    -webkit-animation: fadeIn 0.75s linear;
    -moz-animation: fadeIn 0.75s linear;
    -o-animation: fadeIn 0.75s linear;
    -ms-animation: fadeIn 0.75s linear;
    animation-delay: 2.1s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* University Student and aspiring Web Developer */

.title-text-fade-in-secondary {
    animation: fadeIn 0.75s linear;
    -webkit-animation: fadeIn 0.75s linear;
    -moz-animation: fadeIn 0.75s linear;
    -o-animation: fadeIn 0.75s linear;
    -ms-animation: fadeIn 0.75s linear;
    animation-delay: 3s;
    animation-fill-mode: forwards;
    opacity: 0;
}

/* About Page */

.about-container {
    min-height: calc(100vh - 64px);
    background-color: var(--blue);
    overflow: hidden;
}

/* Contact Page */

.contact-container {
    min-height: calc(100vh - 64px);
    background-color: var(--purple);
    overflow: hidden;
}

/* Contact Page */

.projects-container {
    min-height: calc(100vh - 64px);
    background-color: var(--orange);
    overflow: hidden;
}

/* ========================================= */
/* ===============MEDIA QUERY=============== */
/* ========================================= */

@media only screen and (max-width: 1000px) {
    .home-container {
        flex-direction: column;
    }
    .other-home-containers {
        flex-direction: column;
    }
    .specific-home-container-column-reverse {
        flex-direction: column-reverse;
    }
    .bottom-home-containers {
        flex-direction: column;
    }
    .home-title-container {
        margin-right: 0;
    }
    .home-title-right-container {
        margin-left: 0;
    }
    .other-home-containers {
        min-height: 80vh;
    }

    .bottom-home-containers {
        min-height: 80vh;
    }
}

@media only screen and (max-width: 500px) {
    .home-title-font {
        font-size: 1.5rem;
    }
    .robert-image {
        width: 125px;
    }
    .robert-highschool-image {
        width: 270px;
    }
    .robert-graduate-image {
        width: 150px;
    }

    .robert-university-image {
        width: 270px;
    }
    .navbar-titles {
        font-size: 1rem;
        padding: 0 1rem;
    }
}

/* ========================================= */
/* ================KEYFRAMES================ */
/* ========================================= */

/* Text fade in */

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Animation for robert character home page */

@keyframes rca {
    0% {
        transform: translate(600%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
@-moz-keyframes rca {
    0% {
        transform: translate(600%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
@-webkit-keyframes rca {
    0% {
        transform: translate(600%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
@-o-keyframes rca {
    0% {
        transform: translate(600%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
@-ms-keyframes rca {
    0% {
        transform: translate(600%, 0);
    }
    100% {
        transform: translate(0%, 0);
    }
}
